@import "tailwindcss";

:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo',
  'Pretendard Variable', Pretendard, Roboto, 'Noto Sans KR', 'Segoe UI',
  'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}